
opdracht2.Tests/bin/Debug/net6.0/Castle.Core.dll
opdracht2.Tests/bin/Debug/net6.0/Moq.dll
opdracht2.Tests/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Diagnostics.EventLog.dll
opdracht2.Tests/bin/Debug/net6.0/runtimes/win/lib/net6.0/System.Diagnostics.EventLog.Messages.dll
Opdract2/obj/Debug/net6.0/Opdract2.csproj.CoreCompileInputs.cache
